APP_PORT=8094

POSTGRES_DB=magnus_rotinas
POSTGRES_USER=magnus_rotinas
DB_PASSWORD=troque-esta-senha

SECRET_KEY=troque-esta-chave-secreta-django
ALLOWED_HOSTS=seudominio.com.br,www.seudominio.com.br
CSRF_TRUSTED_ORIGINS=https://seudominio.com.br,https://www.seudominio.com.br