APP_PORT=8099

POSTGRES_DB=magnus_rotinas
POSTGRES_USER=magnus_rotinas
DB_PASSWORD=troque-esta-senha

SECRET_KEY=troque-esta-chave-secreta-django
ALLOWED_HOSTS=170.84.202.95,10.51.69.2
CSRF_TRUSTED_ORIGINS=http://170.84.202.95,http://10.51.69.2:8099